*{
	margin: 0px;
	padding: 0px;
}
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

.grid{
    margin:60px 0 0 0;
    
}
.grid_texto{
    margin:20% 0 0 100px;
    
}

.titulo_login{
    font-family: Roboto, sans-serif;
    font-size: 24px;    
    font-style: normal;
    font-weight: 900;
    line-height: 28px;
    text-align: left;
    color: #483972;
    margin: 0 0 0 28px;
}

.titulo{
font-family: Roboto;
font-style: normal;
font-size: 20px;
line-height: 56px;
color: #483972;
}

p{
font-family: Roboto;
font-style: normal;
font-size: 17px;
/* line-height: 42px; */
color: #483972;
}

.img_login{
    height: 150px;
    width: auto;
}

#form{
    margin-top: 50px;
}

#input{
    width: 320px;
    height: 56px;
    background: #FFFFFF;
   
    border: 1px solid #DEDEDE;
    box-sizing: border-box;
    border-radius: 10px;
}

#inputsenha{
    width: 320px;
    height: 56px;
    background: #FFFFFF;

    border: 1px solid #3DE959;
    box-sizing: border-box; 
    box-shadow: 0px 0px 4px  #3DE959;
    border-radius: 10px;
}
/* .Centro{
    text-align: center;
} */


#buttonEntar{
    background-color: #483972;
    border-radius: 9.8px;
    width: 160px;
    height: 43px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 19px;
    line-height: 23px;
    text-align: center;
    color: #FFF;
    margin: 20px 0 0 80px;
    
}
#buttonEntar:hover{
    background-color: #7B61FF;
}

@media  (min-width: 371px){
    #buttonEntar{
    margin: 20px 0 0 80px;
    }
}
