@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');



.main {
    background-color: white;
    width: 100vw;
}



/* MOBILE FIRST */

@media only screen and (max-width: 1000px) {
    #imgAlunos {
        display: none;
    }
}

.titulo {
    color: #483972;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 24px;
    text-align: center;
    margin-top: -5%;
}

.subtitulo1 {
    color: #483972;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 18px;
    margin-top: 15px;
    margin-left: 0%; 
}

.subtitulo2 {
    color: #483972;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 18px;
    margin-top: 15px;
    margin-left: 0%; 
}

.subtitulo3 {
    color: #483972;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 18px;
    margin-top: 55px;
    margin-left: 0%; 
}

.formulario {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 5%;
}

.linhaForm1 {
    margin-top: 25px;
    align-items: center;
}

#campoNome {    
    width: 320px;
    height: 56px;
    left: 20px;
    top: 262px;
    background: #FFFFFF;
    border-radius: 10px;    
    border: 1px solid #DEDEDE;
}

#campoNome:hover {
    border: 1px solid #3C3C3C;
    box-sizing: border-box;
    box-shadow: inset -1px 0px 2px 3px rgba(0, 0, 0, 0.24);
}

#campoNascimento {    
    width: 320px;
    height: 56px;
    left: 20px;
    top: 262px;
    background: #FFFFFF;
    border-radius: 10px;
    border: 1px solid #DEDEDE;
}

#campoNascimento:hover {    
    border: 1px solid #3C3C3C;
    box-sizing: border-box;
    box-shadow: inset -1px 0px 2px 3px rgba(0, 0, 0, 0.24);
}

#campoMatricula {    
    width: 320px;
    height: 56px;
    left: 20px;
    top: 262px;
    background: #FFFFFF;
    border-radius: 10px;
    border: 1px solid #DEDEDE;
}

#campoMatricula:hover {
    border: 1px solid #3C3C3C;
    box-sizing: border-box;
    box-shadow: inset -1px 0px 2px 3px rgba(0, 0, 0, 0.24);
}

#campoUf {    
    width: 320px !important ;
    height: 56px;
    left: 20px;
    top: 262px;
    background: #FFFFFF;
    border-radius: 10px;
    border: 1px solid #DEDEDE;
}

#campoUf:hover {
    border: 1px solid #3C3C3C;
    box-sizing: border-box;
    box-shadow: inset -1px 0px 2px 3px rgba(0, 0, 0, 0.24);
}

#campoCidade {    
    width: 320px !important;
    height: 56px;
    left: 20px;
    top: 262px;
    background: #FFFFFF;
    border-radius: 10px;
    border: 1px solid #DEDEDE;
}

#campoCidade:hover {
    border: 1px solid #3C3C3C;
    box-sizing: border-box;
    box-shadow: inset -1px 0px 2px 3px rgba(0, 0, 0, 0.24);
}

#campoBairro {    
    width: 320px !important;
    height: 56px;
    left: 20px;
    top: 262px;
    background: #FFFFFF;
    border-radius: 10px;
    border: 1px solid #DEDEDE;
}

#campoBairro:hover {
    border: 1px solid #3C3C3C;
    box-sizing: border-box;
    box-shadow: inset -1px 0px 2px 3px rgba(0, 0, 0, 0.24);
}

#campoEscola {    
    width: 320px !important;
    height: 56px;
    left: 20px;
    top: 262px;
    background: #FFFFFF;
    border-radius: 10px;
    border: 1px solid #DEDEDE;
}

#campoEscola:hover {
    border: 1px solid #3C3C3C;
    box-sizing: border-box;
    box-shadow: inset -1px 0px 2px 3px rgba(0, 0, 0, 0.24);
}

#caixaTexto {
    margin-top: 5%;
    width: 320px;
}

#btnEnviar {    
    background-color: #483972;
    border-radius: 8px;    
    width: 130px;
    height: 35px;    
    left: 13.08%;
    right: 12.31%;
    top: 22.86%;
    bottom: 22.86%;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px; 
    text-align: center;
    color: #FFFFFF;
    float:right !important;
    margin-top: 25px;
    margin-right: 10px;
    margin-bottom: 45px;
}    

@media only screen and (max-width: 320px) {

    .titulo {
        color: #483972;
        font-family: 'Roboto', sans-serif;
        font-weight: 700;
        font-size: 24px;   
        
    }

    .formulario {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top: 5%;
    }

    #campoNome {    
        width: 260px !important;
    }

    #campoNascimento {
        width: 260px !important;
    }

    #campoMatricula {
        width: 260px !important;
    }

    #campoUf {
        width: 260px !important;
    }

    #campoCidade {
        width: 260px !important;
    }

    #campoBairro {
        width: 260px !important;
    }

    #campoEscola {
        width: 260px !important;
    }

    #caixaTexto {
        width: 260px !important;
    }

    .btnAvatar {
        background-color: transparent ;
        margin-top: 5%;
        margin-right: 2% !important;
    }

}


/* AJUSTE BOTAO */

@media only screen and (min-width: 371px) {
    #btnEnviar {    
        background-color: #483972;
        border-radius: 8px;    
        width: 130px;
        height: 35px;    
        left: 13.08%;
        right: 12.31%;
        top: 22.86%;
        bottom: 22.86%;
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 19px;     
        text-align: center;
        color: #FFFFFF;
        float:left !important;
        margin-top: 25px;        
        margin-bottom: 45px;
    }  
    
}     


/* AJUSTES PARA DESKTOP */

@media only screen and (min-width: 1001px) {
    .main {
      background-color: #F1F1F1;      
    }
    .formulario {
        background-color: white;
        
    }
    #imgAlunos {            
        margin-top: 5%;  
        margin-right: 10%;
        float: right;            
    }
    .formMenor {               
        margin-left: 0% !important;                
    }
   .titulo {
        color: #483972;
        font-family: 'Roboto', sans-serif;
        font-weight: 900;
        font-size: 24px;
        text-align: left;
        margin-top: -10%;
        margin-left: 0%; 
    }
    

    /*.subtitulo1 {
        color: #483972;
        font-family: 'Roboto', sans-serif;
        font-weight: 700;
        font-size: 18px;
        margin-top: 15px;
        margin-left: 0%; 
    }*/
    
   /* .subtitulo2 {
        color: #483972;
        font-family: 'Roboto', sans-serif;
        font-weight: 700;
        font-size: 18px;
        margin-top: 15px;
        margin-left: 0%; 
    }   */   
    
  }

.btnAvatar {
    background-color: transparent ;
    margin-top: 5%;
    margin-right: 8%;
}